* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}


body {
  font-family: "Poppins", sans-serif;
  color: $text-dark;
  overflow-x: hidden;
  width: 100%;
}

.page-wrapper {
  width: 100%;
  max-width: 1400px; // kích thước tổng thể trang
  margin: 0 auto; // căn giữa toàn màn hình
  padding: 0 1rem; // đệm hai bên
  position: relative;
  overflow-x: hidden;

}

.container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 0;
  overflow-x: hidden;
}