.carousel {

  .container {
    width: 100%;
    aspect-ratio: 16/6;
    background: url("/HomePage/img/slider/slider_1.webp");
    background-size: cover;
    background-position: bottom right;
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 5%;

  }
}