.footer {
    background-color: $primary-80;

    h1 {
        color: $primary-120;
        text-transform: uppercase;
    }

    .container {
        display: flex;
        justify-content: center;


        .thanhtoan {
            padding: $m-4;
            margin: $m-4;

            width: 35%;

            .thanhtoan_img {
                display: flex;
                width: 15%;
            }
        }

        .chinhsach {
            padding: $m-4;
            margin: $m-4;

            width: 20%;
        }

        .thongtin {
            padding: $m-4;
            margin: $m-4;

            width: 20%;

            .lienket_img {
                display: flex;
                width: 15%;
            }
        }

        .instagram {
            padding: $m-4;
            margin: $m-4;

            width: 25%;

            .insta_img {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 2px;
            }

        }
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .footer {
        .container {
            flex-direction: column;
            align-items: center;
            text-align: center;

            .thanhtoan,
            .chinhsach,
            .thongtin,
            .instagram {
                width: 80%;
                margin: 1rem 0;
            }

            .insta_img {
                grid-template-columns: repeat(4, 1fr);
            }
        }
    }
}

@media (max-width: 767px) {
    .footer {
        .container {
            flex-direction: column;
            align-items: stretch;
            // padding: 0 1rem;

            .thanhtoan,
            .chinhsach,
            .thongtin,
            .instagram {
                width: 100%;
                margin: 1rem 1rem;
            }

            // .thanhtoan_img,
            // .lienket_img {
            //     justify-content: center;
            //     // width: 100%;
            // }

            .insta_img {
                grid-template-columns: repeat(2, 1fr);
                gap: 4px;
            }
        }

        h1 {
            font-size: 1.2rem;
            text-align: center;
        }
    }
}