.products {
  .title {
    @include mText($font-3xl, $text-dark, $fw-semi);
    text-align: center;
  }

  .typesanpham {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 3rem;
    gap: 3rem;
    margin-bottom: 3rem;

    .sanphamicon {
      display: flex;
      flex-direction: column;

      img {
        justify-content: center;
      }

      button {
        justify-content: center;
      }

      &:hover {
        box-shadow: 0 0 10px $primary-200 ;
        border-radius: 8px;
      }
    }
  }

  .products__content {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;

    .products__item {
      // border: 2px solid;
      // border-radius: 8px;

      .card {
        background-color: transparent;
        padding: 3rem;


        @include box-shadow();

        img {
          width: 100%;
          height: 150px;
          @include box-shadow();
        }

        .card__body {
          .card__body-top {
            .info {
              h2 {
                @include mText($font-2xl, $text-dark, $fw-semi);
                width: 100%;
                height: 100px;
              }

              p {
                @include mText($font-xl, $text-dark, $fw-light);
                margin-top: 0.5rem;
              }

              .rating i {
                color: #21f912;
              }
            }

            .price {
              h2 {
                @include mText($font-2xl, $text-dark, $fw-semi);
              }

              .oldPrice {
                text-decoration: line-through;
                color: gray;
              }
            }
          }

          .card__body-bottom {
            margin-top: 1rem;

            .buy button {
              padding: 0.5rem 1rem;
              border: none;
              box-shadow: 6px 6px 4px #e2ebfc, -6px -6px 4px #fff;
              background-color: #f5fef6;
              color: $primary-300;
              font-size: 14px;
              font-weight: $fw-light;
              cursor: pointer;
            }
          }
        }
      }

      &:hover {
        box-shadow: 0 0 10px $primary-200 ;
        border-radius: 8px;
      }
    }


  }
}