.products {
  .title {
    @include mText($font-3xl, $text-dark, $fw-semi);
    text-align: center;
  }

  .typesanpham {
    display: grid; // đổi từ flex sang grid
    grid-template-columns: repeat(6, 1fr); // chia 4 cột đều nhau
    gap: 2rem;
    justify-items: center; // căn giữa nội dung mỗi ô (tùy chọn)
    align-items: center; // căn giữa theo chiều dọc

    margin-top: 3rem;
    margin-bottom: 3rem;

    .sanphamicon {
      display: flex;
      flex-direction: column;

      img {
        justify-content: center;
      }

      button {
        justify-content: center;
      }

      &:hover {
        box-shadow: 0 0 10px $primary-200 ;
        border-radius: 8px;
      }
    }
  }

  .products__content {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;

    .products__item {
      // border: 2px solid;
      // border-radius: 8px;

      .card {
        background-color: transparent;
        padding: 3rem;



        @include box-shadow();

        .img-container {
          width: 100%;
          height: 100%;

          img {
            width: 100%;
            height: 100%;
            @include box-shadow();
          }
        }

        .card__body {
          .card__body-top {
            .info {
              h2 {
                @include mText($font-2xl, $text-dark, $fw-semi);
                width: 100%;
                height: 100px;
              }

              p {
                @include mText($font-xl, $text-dark, $fw-light);
                margin-top: 0.5rem;
              }

              .rating i {
                color: #21f912;
              }
            }

            .price {
              h2 {
                @include mText($font-2xl, $text-dark, $fw-semi);
              }

              .oldPrice {
                text-decoration: line-through;
                color: gray;
              }
            }
          }

          .card__body-bottom {
            margin-top: 1rem;

            .buy button {
              padding: 0.5rem 1rem;
              border: none;
              box-shadow: 6px 6px 4px #e2ebfc, -6px -6px 4px #fff;
              background-color: $primary-150;
              color: $primary-100;
              font-size: 14px;
              font-weight: $fw-light;
              cursor: pointer;
              border-radius: 5px;
            }
          }
        }
      }

      &:hover {
        box-shadow: 0 0 10px $primary-200 ;
        border-radius: 8px;
      }
    }


  }
}

@media (min-width: 768px) and (max-width: 1180px) {
  .products {
    width: 100%;
    overflow: hidden;

    .typesanpham {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 2rem;
    }

    .products__content {
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;
    }

    .products__item .card {
      padding: 2rem;
    }
  }
}

@media (min-width: 425px) and (max-width: 767px) {
  .products {
    width: 100%;
    overflow: hidden;

    .title {
      font-size: 1.5rem; // override nếu cần
    }

    .typesanpham {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1.5rem;
      justify-items: center; // căn giữa nội dung mỗi ô (tùy chọn)
      align-items: center; // căn giữa theo chiều dọc
    }

    .products__content {
      grid-template-columns: repeat(2, 1fr);
      ;
      gap: 1.5rem;
      justify-content: center;
    }

    .products__item .card {

      padding: 1.5rem;

      img {
        height: 100px;
      }

      .card__body .info h2 {
        font-size: 1.2rem;
        height: auto;
      }

      .buy button {
        font-size: 13px;
        padding: 0.5rem 0.75rem;
      }
    }
  }
}

@media (max-width: 424px) {
  .products {
    width: 100%;
    overflow: hidden;

    .title {
      font-size: 1.5rem; // override nếu cần
    }

    .typesanpham {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1.5rem;
      justify-items: center; // căn giữa nội dung mỗi ô (tùy chọn)
      align-items: center; // căn giữa theo chiều dọc
    }

    .products__content {
      grid-template-columns: 1fr;
      ;
      gap: 1.5rem;
      justify-content: center;
    }

    .products__item .card {

      padding: 1.5rem;

      img {
        height: 100px;
      }

      .card__body .info h2 {
        font-size: 1.2rem;
        height: auto;
      }

      .buy button {
        font-size: 13px;
        padding: 0.5rem 0.75rem;
      }
    }
  }
}