.container {
  max-width: 1440px;
  margin: 0 auto;
  overflow: hidden;
}

a.active {
  font-size: $font-xl;
  font-weight: $fw-normal;
  text-decoration: none;
  margin: 0 $m-2;
  color: $text-primary-300 !important;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: $bg-primary-300;
    transform: scale(1, 1) !important;
  }
}

.justify-between {
  display: flex;
  justify-content: space-between;
}

/* .backToTop */
.backToTop {
  width: 50px;
  height: 50px;
  background: $bg-primary-300;
  border-radius: 8px;
  line-height: 50px;
  text-align: center;
  display: block;
  position: fixed;
  right: 15px;
  bottom: 15px;
  color: white;
  transition: all .2s;
  box-shadow: -4px 4px 24px -10px #f55f8d;
  // visibility: hidden;
  opacity: 0;
}

.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}

.cd-top--fade-out {
  opacity: .8;
}